<% if(locals.errors){ %> <% errors.forEach(function(error) { %>
<div class="alert alert-warning alert-dismissible">
  <%= error.msg %>
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
<% }); %> <% } %> <% if(success_msg != ''){ %>
<div class="alert alert-success alert-dismissible">
  <%= success_msg %>
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
<% } %> <% if(error_msg != ''){ %>
<div class="alert alert-danger alert-dismissible">
  <%= error_msg %>
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
<% } %> <% if(error != ''){ %>
<div class="alert alert-danger alert-dismissible">
  <%= error %>
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
<% } %>
