<%- include("header") %> <%- include("sidebar") %>
<!--Container Main start-->
<main class="main">
  <div class="height-100">
    <h1 class="mt-4">Dashboard</h1>
    <h4>Main Welcome <%= admin.name %></h4>
  </div>
</main>
