<div class="l-navbar" id="nav-bar">
  <nav class="nav">
    <div>
      <div class="nav_header">
        <a href="/" class="nav_logo">
          <i class="uil uil-restaurant nav_logo-icon"></i>
          <span class="nav_logo-name">Fast Food</span>
        </a>
        <div data-ripplet class="nav_close icon" id="nav-close">
          <i class="uil uil-times nav_icon"></i>
        </div>
      </div>
      <div class="nav_list">
        <a data-ripplet href="#" class="nav_link">
          <i class="uil uil-estate nav_icon"></i>
          <span class="nav_name">Dashboard</span>
        </a>
        <a data-ripplet href="/customers" class="nav_link">
          <i class="uil uil-user nav_icon"></i>
          <span class="nav_name">Customers</span>
        </a>
        <a data-ripplet href="/category" class="nav_link">
          <i class="uil uil-apps nav_icon"></i>
          <span class="nav_name">Category</span>
        </a>
        <a data-ripplet href="/foods" class="nav_link">
          <i class="uil uil-pizza-slice nav_icon"></i>
          <span class="nav_name">Foods</span>
        </a>
        <a data-ripplet href="#" class="nav_link">
          <i class="uil uil-chart-bar nav_icon"></i>
          <span class="nav_name">Stats</span>
        </a>
      </div>
    </div>
    <a data-ripplet href="/logout" class="nav_link">
      <i class="uil uil-signout nav_icon"></i>
      <span class="nav_name">Logout</span>
    </a>
  </nav>
</div>
